#formu{
    padding: 25px o;
    margin: 1px 0;
}

.botao{
    margin: 5px 0;
}

form label{
    width: 30%;
    display: inline-block;
}

th{
    padding: 0 1px;
    border: 1px solid black;
    background-color: aquamarine;
}

#tabela-produtos td{
    border: 1px solid black;
    padding: 0 1px;
}

tfoot{
    border: 1px solid black;
    background-color: lightskyblue;
}

.invisivel{
    display: none;
}

#mensagens-erro{
    color: red;
}